---
title: Welcome to Felter Lady Designs
---

<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Felter Lady Designs</h4>
      <h1>Jane Altobelli</h1>
      <p>Welcome to Felter Lady Designs. I'm Jane Altobelli and I'm a lifelong felt crafter. I typically work with wool, yarn and an assortment of craft material to realize my art. I also teach seminars and tutorials on felting. Some of my pieces are showcased on this site though they are by no means the extent of my portfolio. If you would like to contact me, please send a quick message with your attached email on the form provided below. I'm located in Ontario, Canada.</p>
  </div>
</div>

<div class="welcome">

</div><!-- .welcome -->

<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Another Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      The Last Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>

<form action = "http://www.focuspocus.io/magic/your@target.com" method = "POST" class = "form">
  <fieldset>
    <legend>Contact Me</legend>
    <label for = "fullName">Full name:</label>
    <input type = "text" name = "fullname" placeholder = "e.g. Jane Smith" id = "fullName">
    <label for = "email">Email:</label>
    <input type = "text" name = "email" placeholder = "e.g. smith@email.com" id = "email">
    <label for = "comment">Comment:</label>
    <textarea type = "textarea" name = "comment" placeholder = "e.g. 'I'm interested in...'" id = "comment"></textarea>
    <input type = "submit" value = "Send">
  </fieldset>
</form>