---
title: Welcome to Felter Lady Designs
---

<div class="welcome">

  <h1>Felter Lady Designs</h1>
  <h2>Jane Altobelli</h2>

  <p>My name is Jane Altobelli. I'm a lifelong felt crafter and typically work with wool, yarn and an assortment of craft material to realize my art. I teach seminars and tutorials on felting. Some of my pieces are showcased on this site though they are by no means the extent of my portfolio. If you would like to get in contact with me, please send a quick message with your attached email on the form provided below. I'm located in Ontario, Canada.</p>
</div><!-- .welcome -->
